@import "../../shared/scss/custom";

.card {
  width: 100%;
  border-radius: 0;
  border: none;
  // box-shadow: 0 1px 3px rgba($dark, 0.12), 0 1px 2px rgba($dark, 0.24);
  .cardBody {
    transition: all 0.3s ease;
  }
  .imgWrapper {
    background: transparent;
  }
  .title {
    font-family: "Lato", "Raleway";
    font-size: 20px;
    font-weight: 700;
    a {
      text-decoration: none;
      color: inherit;
    }
  }
  p {
    font-size: 13px;
  }
  .price {
    font-family: "Lato", sans-serif;
    color: $primary;
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 0.5rem;
  }
  .mainBtn a {
    display: inline-block;
    width: 140px;
  }
}
