@import "../../shared/scss/custom.scss";
@import "../../shared/scss/buttonNav.scss";

$headerTopHeight: 46px;

.header {
  padding: ($headerTopHeight + 1) 0 0 0;
  margin: 0;
  width: 100vw;
  height: 100%;
  @include media-breakpoint-up(lg) {
    padding: 0;
  }

  &Top {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999;
    min-height: $headerTopHeight;
    border-bottom: 1px solid $border-color;
    div:nth-child(2) {
      border-left: 1px solid $border-color;
      border-right: 1px solid $border-color;
    }
    @include media-breakpoint-down(lg) {
      position: fixed;
    }
    @include media-breakpoint-up(lg) {
      display: none;
    }
    @include media-breakpoint-up(sm) {
      max-width: inherit;
    }
  }
  &Middle {
    position: relative;
    padding: 0;
    background-image: url("/public/images/what-the-hex.png");
    background-repeat: repeat;
    &Container {
      margin: 0 auto;
    }
  }
  &Bottom {
    padding: 0;
    display: block;
    ul {
      margin: 0 auto;
      li > a {
        @extend .btnNav;
        margin-bottom: 2px;
        border-bottom: 3px solid transparent;
        &:focus,
        &:hover {
          border-bottom: 3px solid $primary;
          background-color: inherit;
          color: inherit;
        }
      }
    }
    @include media-breakpoint-up(xs) {
      max-width: inherit;
    }
    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &Logo {
    margin: 6px auto;
    max-height: 100%;
    max-width: 140px;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  &RightCol {
    display: flex;
    justify-content: flex-end;
  }
  &RightPanel {
    display: flex;
    align-items: center;
    a,
    a:hover {
      color: $primary;
    }
    &Profile {
      margin-right: 16px;
    }
    &CartInfo {
      font-family: "Lato", $font-family-base;
      a,
      a:hover {
        text-decoration: none;
        color: $black;
      }
      svg {
        margin-right: 10px;
        height: 23px;
      }
    }
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}
