@import "../../shared/scss/buttonNav";

.nav {
  margin: 0 auto;
  justify-content: center;
  background: $gray-200;
  flex-direction: column;
  text-align: center;
  @include media-breakpoint-up(sm) {
    flex-direction: row;
  }
  li {
    a {
      @extend .btnNav;
      letter-spacing: 0.02rem;
    }
  }
}
.veryBottomFooter {
  font-family: "Lato", $font-family-base;
  display: flex;
  justify-content: center;
  span {
    color: $gray-600;
    padding: 10px 0;
    font-size: 12px;
    a {
      color: $gray-600;
    }
  }
}
