@import "./custom";

.btnNav {
  color: $secondary;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 14px;
  font-weight: 500;
  &:hover,
  &:focus {
    background: $dark;
    color: $light;
    cursor: pointer;
  }
}
