@import './custom';
.inputField {
    max-height: 36px;
    background: white;
    font-size: 13px;
    color: $black;
    border: 1px solid $border-color;
    border-radius: 0;
    box-shadow: none !important;
    outline: 0;
    &:active,
    &:focus {
        border: 1px solid $black;
        outline: 0;
    }
  }