@import './font';
@import './custom';

:root {
  // Custom variable values only support SassScript inside `#{}`.
  @each $color, $value in $colors {
    --#{$color}: #{$value};
  }

  @each $color, $value in $theme-colors {
    --#{$color}: #{$value};
  }

  @each $bp, $value in $grid-breakpoints {
    --breakpoint-#{$bp}: #{$value};
  }

  // Use `inspect` for lists so that quoted items keep the quotes.
  // See https://github.com/sass/sass/issues/2383#issuecomment-336349172
  --font-family-raleway: #{inspect($font-family-raleway)};
  --font-family-sans-serif: #{inspect($font-family-sans-serif)};
}
html {
  font-family: 'Raleway'; // 2
  line-height: 1.15; // 3
  -webkit-text-size-adjust: 100%; // 4
  -webkit-tap-highlight-color: rgba($black, 0); // 5
}

body {
  margin: 0; // 1
  font-family: $font-family-base;
  font-size: 14px !important;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  color: $body-color;
  text-align: left; // 3
  background-color: $body-bg; // 2
  -webkit-font-smoothing: antialiased;
}

div,
p,
a {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: unset;
    cursor: pointer;
  }
}

// SHARED
#st-container,
.st-pusher,
.st-content {
  height: 100%;
  min-height: 100vh;
}

#st-container {
  position: relative;
  overflow: hidden;
}

.st-pusher {
  position: relative;
  height: 100%;
  left: 0;
  z-index: 99;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    background: rgba(0, 0, 0, 0.2);
    content: "";
    opacity: 0;
    -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  }
}

.st-menu {
  position: absolute;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  width: 100%;
  height: 100%;
  &::after {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    content: "";
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
  &-open {
    position: relative;
    max-height: 100vh;
    &::after {
      width: 0;
      height: 0;
      opacity: 0;
      -webkit-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
      transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
    }
    .st-pusher {
      -webkit-transform: translate3d($sideMenuWidth, 0, 0);
      transform: translate3d($sideMenuWidth, 0, 0);
      &::after {
        z-index: 999;
        width: 100%;
        height: 100%;
        opacity: 1;
        -webkit-transition: opacity 0.3s;
        transition: opacity 0.3s;
      }
    }
    .st-menu {
      -webkit-transition: -webkit-transform 0.3s;
      transition: transform 0.3s;
      visibility: visible;
      &::after {
        width: 0;
        height: 0;
        opacity: 0;
        -webkit-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
        transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
      }
    }
  }
}
