@charset 'UTF-8';
@import './variables';
.slick-dots,
.slick-next,
.slick-prev {
  position: absolute;
  display: flex !important;
  padding: 0;
}
.slick-dots li button:before,
.slick-next:before,
.slick-prev:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-loading .slick-list {
  background: none;
}

.slick-next,
.slick-prev {
  align-items: center;
  justify-content: center;
  top: 50%;
  width: 40px;
  height: 100%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: $secondary;
  border: none;
  outline: 0;
  background: rgba($blue, 0.2);
  z-index: 2;
  &:focus {
    outline: 0;
  }
}
.slick-next:hover,
.slick-prev:hover {
  outline: 0;
  background: rgba($blue, 0.05);
}

.slick-prev {
  left: -45px;
}
[dir="rtl"] .slick-prev {
  right: -45px;
  left: auto;
}
.slick-prev:before {
  content: "";
}
.slick-next:before,
[dir="rtl"] .slick-prev:before {
  content: "";
}
.slick-next {
  right: -45px;
}
[dir="rtl"] .slick-next {
  right: auto;
  left: -45px;
}
[dir="rtl"] .slick-next:before {
  content: "";
}
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}
.slick-dots {
  bottom: -25px;
  width: 100%;
  margin: 0;
  list-style: none;
  text-align: center;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: 0;
  background: 0 0;
}
.slick-dots li button:focus,
.slick-dots li button:hover {
  outline: 0;
}
.slick-dots li button:focus:before,
.slick-dots li button:hover:before {
  opacity: 1;
}
.slick-dots li button:before {
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "";
  text-align: center;
  opacity: 0.25;
  color: #000;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: #000;
} /*# sourceMappingURL=slick-theme.min.css.map */
