@import "../../shared/scss/custom";
@import "../../shared/scss/inputField";
@import "../../shared/components/MainButton/button.module.scss";

.imgWrapper {
  background: $white;
  margin: 0 30px;
}
.productDescription {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-content: flex-start;
  outline: 0;
  form {
    margin-bottom: 1rem;
  }
  .productTitle {
    font-family: "Lato", "Raleway";
    font-weight: 900;
  }
  .productPrice {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    .priceSection {
      padding: 0 10px 0 0;
      border-right: 1px solid $border-color;
      display: flex;
      align-items: flex-end;
      .discoutSaveInfo {
        color: $primary;
        font-size: 13px;
        margin-left: 3px;
      }
      .priceNumber {
        font-family: "Lato", "Raleway";
        color: $primary;
        font-weight: 800;
        font-size: 22px;
      }
    }
    .numberLabel {
      color: $secondary;
      margin-left: 3px;
      display: flex;
      align-items: flex-end;
      input {
        @extend .inputField;
        width: 2.8rem;
        margin-left: 10px;
      }
    }
  }
  .otherInfo {
    > div {
      margin-top: 20px;
      svg {
        height: 1.4rem;
        width: 32px;
        color: $primary;
        margin-right: 5px;
      }
    }
  }
  .addToCartBtn {
    margin-top: 20px;
    input {
      @extend .btn;
      padding: 0.8rem 2.5rem;
      &:hover,
      &:focus {
        outline: 0;
      }
    }
  }
  .shareBtnsWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .shareBtns {
      &:nth-last-child(1) {
        a {
          position: relative;
          top: 2px;
          border-radius: 0;
          background: transparent;
          color: $fourth;
          height: 32px;
          width: 32px;
          svg {
            max-width: 100%;
            max-height: 100%;
          }
        }
      }
      a {
        display: flex;
        margin-left: 5px;
        align-items: center;
        color: $white;
        height: 30px;
        width: 30px;
        background: $fourth;
        border-radius: 50%;
        svg {
          flex: 1;
        }
      }
    }
  }
}

.bottomSlickWrapper {
  // height: 200px;
  margin: 0 30px;
  padding: 10px;
}
