@import "../../shared/scss/inputField";
.containerWrapper {
  @include media-breakpoint-down(md) {
    max-width: none;
  }
}
.cartContent {
  .cart {
    font-size: 13px;
    color: $black;
    .header {
      display: grid;
      grid-template-columns: 15% repeat(4, 1fr);
      background: $black;
      color: $white;
      @include media-breakpoint-down(sm) {
        display: none;
      }
      .item {
        padding: 0.8rem 20px;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
      }
      .firstHeaderItem {
        grid-column-start: span 2;
        text-align: left;
      }
    }
    .cartBody {
      display: grid;
      grid-template-columns: 15% repeat(4, 1fr);
      border-bottom: 1px solid $border-color;
      @include media-breakpoint-down(sm) {
        grid-template-columns: 33.33% 1fr;
        padding: 1.2rem 0;
        .item {
          grid-column-start: span 2;
          padding: 0.5rem 0 0 0;
          margin-top: 8px;
        }
        .figure {
          grid-column-start: 1;
        }
        .description {
          grid-column-start: 2;
          padding: 0 0 0 1.2rem;
        }
      }
      .figure {
        max-height: 100%;
        width: 100%;
      }
      .description {
        text-align: left;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 14px;
        a {
          color: $black;
        }
      }
      .itemCenter {
        text-align: center;
        justify-content: center;
      }
      .numberItem {
        display: flex;
        .numberField {
          @extend .inputField;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .numberBtn {
          padding: 5px 10px;
          height: 36px;
          width: 36px;
          font-size: 1.2rem;
        }
        .numberInput {
          text-align: center;
          width: 3rem;
          height: 36px;
        }
      }
      .totalItem {
        display: flex;
        justify-content: space-around;
        svg {
          color: $primary;
          height: 16px;
          width: 16px;
          margin-left: 8px;
        }
      }
    }
    .item {
      display: flex;
      text-align: left;
      vertical-align: top;
      padding: 30px 20px;
      span {
        display: none;
        font-weight: bold;
      }
      .expander {
        display: none;
      }
      @include media-breakpoint-down(sm) {
        span {
          display: block;
        }
        .expander {
          display: block;
        }
      }
    }
  }
}
.cartTotals {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  margin: 0 0 30px 0;
  padding: 0;
  .cartTotal {
    grid-column-start: 2;
    padding: 16px 0;
    display: flex;
    font-weight: bold;
    border-bottom: 1px solid $border-color;
    a {
      color: $primary;
    }
  }
  @include media-breakpoint-down(sm) {
    grid-template-columns: 1fr;
    .cartTotal {
      grid-column-start: 1;
    }
  }
}
.expander {
  flex: 1;
}
.actionBtn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  a {
    grid-column-start: 2;
    font-size: 16px;
  }
  @include media-breakpoint-down(sm) {
    & {
      grid-template-columns: 1fr;
      a {
        grid-column-start: 1;
      }
    }
  }
}
