@import "../../shared/scss/custom";
@import "../../../node_modules/bootstrap/scss/buttons";

.toolbar {
  display: grid;
  grid-template-columns: 1fr;
  font-weight: 700;
  font-size: 11px;
  span {
    margin: 10px 20px 0 0;
    float: left;
  }
  .viewMode {
    .viewModeBtn {
      @extend .btn;
      position: relative;
      border: 1px solid $border-color;
      border-radius: 0;
      height: 36px;
      width: 36px;
      padding: 10px 0 0 0;
      cursor: pointer;
      .bar {
        position: relative;
        background: $dark;
        width: 14px;
        height: 4px;
        margin: 1px auto 0;
        top: -1px;
      }
    }
    #gridView.viewModeBtn > .bar {
      width: 4px;
      &::after {
        @extend .bar;
        position: absolute;
        display: block;
        content: "";
        right: 5px;
      }
      &::before {
        @extend .bar;
        position: absolute;
        display: block;
        content: "";
        left: 5px;
      }
    }
    #listView {
      left: -1px;
    }
  }
  #sortBy {
    display: flex;
    padding-top: 10px;
    @include media-breakpoint-up(md) {
      justify-content: flex-end;
      padding-top: 0;
    }
  }
  @include media-breakpoint-up(md) {
    grid-template-columns: 1fr 1fr;
  }
  button {
    max-height: 36px;
    background: white;
    font-size: 13px;
    color: $black;
    border: 1px solid $border-color;
    border-radius: 0;
    box-shadow: none !important;
  }
  .dropdownMenu {
    border-radius: 0;
    a {
      font-family: $font-family-base;
      font-size: 13px;
      color: $black;
    }
  }
}

.inner {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  row-gap: 5px;
  column-gap: 5px;
  padding-top: 25px;
  justify-content: space-between;
}

.gridView {
  text-align: center;
  @include media-breakpoint-up(md) {
    grid-template-columns: 1fr 1fr;
  }
  @include media-breakpoint-up(lg) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  p {
    display: none;
  }
}
.listView {
  flex-direction: row !important;
  grid-template-columns: 1fr;
  text-align: left;

  > div {
    display: grid;
    grid-template-columns: 33.33% 66.66%;
  }
}

#paginator {
  content: "";
}
