@import "../../scss/custom";

.btn,
.btn a {
  text-decoration: none !important;
  color: $white !important;
  text-transform: capitalize;
  letter-spacing: 0.05rem;
  font-size: 13px;
  font-weight: 600;
  padding: 0.6rem 0.9rem;
  text-align: center;
  justify-content: center;
  align-content: center;
  min-height: 24px;
  min-width: 60px;
  background: $primary;
  border: 1px solid transparent;
  border-radius: 0;
  box-shadow: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  &:hover,
  &:focus {
    border-color: $black;
    color: $white;
    cursor: pointer;
  }
  &:active  {
    color: $fifth !important;
    background: $light;
    border-color: $fifth;
  }
}
